.header{
	font-weight: bold;
	font-size:14px;
}

ion-col{
	font-size:14px;
}

.graph-display{
	max-height:1000px;
	overflow-y:scroll;
	margin-bottom: 10px;


}

.table-border{
	border: 1px solid;
}


