.text-color{
	color:#fff;
	margin-left:32px;
}



.bhs-classification{
	margin-left:38px;
}

.icon-size{
	float:right;
}

.subHeadingTitle{
	background-color:#FF9900 !important;
	padding-top:10px;
	padding-bottom:10px;
	color: black;
	font-weight:bold;
	text-align:center;
}
