<ion-header *ngIf="parameter1 == 'dir1'">

  <ion-navbar  (click) ="goBack()">
   <ion-buttons left style="margin-left:-45px;">
        <button ion-button icon-only>
          <ion-icon name="arrow-back"></ion-icon>
        </button>
    </ion-buttons>
    <ion-title >Portfolio Roadmap
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-header *ngIf="parameter1 == 'dir2'">

  <ion-navbar class="heading-title" (click) ="goBack()">
    <ion-title >Portfolio Roadmap
    	
    </ion-title>
  </ion-navbar>

</ion-header>
<ion-header *ngIf="parameter1 == 'dir3'">

  <ion-navbar class="heading-title" (click) ="goBack()">
    <ion-title>Portfolio Roadmap
    	
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-header *ngIf="parameter1 == 'dir4'">

  <ion-navbar class="heading-title" (click) ="goBack()">
    <ion-title>Portfolio Roadmap
    	
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding *ngIf="parameter1 == 'dir1'">
<ion-spinner class="spinner" name="ios" *ngIf="showSpinner"></ion-spinner>
<ion-label class="subHeadingTitle">Lead - {{data ? data[0].firstName : ""}} {{data ? data[0].lastName : ""}}
<a href="tel::{{5712656593}}" class="call">
          <ion-icon name="call" item-left style="margin-left:15px;"></ion-icon>
        </a>
</ion-label>

<ion-row>
  <ion-col col-1> <ion-icon name="arrow-dropleft" style="margin-top:28px;"></ion-icon></ion-col>
  <ion-col col-10>
     <ion-scroll scrollX="true"  class="scroll-content-width">


      <div class="inner">
      <ion-card>
        <div class="card-width">
           <ion-label class="title-roadmap" (click)= "displayQuaterRoadMap('Q1')">Q1-2017</ion-label>
         </div>
      </ion-card>
      <ion-card>
        <div class="card-width">
           <ion-label class="title-roadmap" (click)= "displayQuaterRoadMap('Q2')">Q2-2017</ion-label>
         </div>
      </ion-card>
      <ion-card>
        <div class="card-width">
           <ion-label class="title-roadmap" (click)= "displayQuaterRoadMap('Q3')">Q3-2017</ion-label>
         </div>
      </ion-card>
       <ion-card>
        <div class="card-width">
           <ion-label class="title-roadmap" (click)= "displayQuaterRoadMap('Q4')">Q4-2017</ion-label>
         </div>
      </ion-card>
       <ion-card>
        <div class="card-width">
           <ion-label class="title-roadmap" (click)= "displayQuaterRoadMap('Q5')">Q1-2018</ion-label>
         </div>
      </ion-card>
       <ion-card>
        <div class="card-width">
           <ion-label class="title-roadmap" (click)= "displayQuaterRoadMap('Q6')">Q2-2018</ion-label>
         </div>
      </ion-card>
       <ion-card>
        <div class="card-width">
           <ion-label class="title-roadmap" (click)= "displayQuaterRoadMap('Q7')">Q3-2018</ion-label>
         </div>
      </ion-card>
       <ion-card>
        <div class="card-width">
           <ion-label class="title-roadmap" (click)= "displayQuaterRoadMap('Q8')">Q4-2018</ion-label>
         </div>
      </ion-card>
         
      </div>
   </ion-scroll>
  </ion-col>
  <ion-col col-1><ion-icon name="arrow-dropright" style="margin-top:28px"></ion-icon></ion-col>
</ion-row>
<ion-row>

<ion-list no-lines text-wrap *ngIf="showQuaterResult === 'Q1'">
       <ion-item >
        {{data ? data[0]['accomplishments/enterpriseService/desc1'] : ""}}
      </ion-item >
      <ion-item >
        {{data ? data[0]['accomplishments/enterpriseService/desc2'] : ""}}
      </ion-item >
      <ion-item >
        {{data ? data[0]['accomplishments/enterpriseService/desc3'] : ""}}
      </ion-item >
       <ion-item >
        {{data ? data[0]['accomplishments/enterpriseService/desc4'] : ""}}
      </ion-item>
    </ion-list>

    <ion-list no-lines text-wrap *ngIf="showQuaterResult === 'Q2'">
       <ion-item >
        {{data ? data[1]['accomplishments/enterpriseService/desc1'] : ""}}
      </ion-item >
      <ion-item >
        {{data ? data[1]['accomplishments/enterpriseService/desc2'] : ""}}
      </ion-item >
      <ion-item >
        {{data ? data[1]['accomplishments/enterpriseService/desc3'] : ""}}
      </ion-item >
       <ion-item >
        {{data ? data[1]['accomplishments/enterpriseService/desc4'] : ""}}
      </ion-item>
    </ion-list>

     <ion-list no-lines text-wrap *ngIf="showQuaterResult === 'Q3'">
       <ion-item >
        {{data ? data[0]['accomplishments/enterpriseService/desc1'] : ""}}
      </ion-item >
      <ion-item >
        {{data ? data[0]['accomplishments/enterpriseService/desc2'] : ""}}
      </ion-item >
      <ion-item >
        {{data ? data[0]['accomplishments/enterpriseService/desc3'] : ""}}
      </ion-item >
       <ion-item >
        {{data ? data[0]['accomplishments/enterpriseService/desc4'] : ""}}
      </ion-item>
    </ion-list>

    <ion-list no-lines text-wrap *ngIf="showQuaterResult === 'Q4'">
       <ion-item >
        {{data ? data[1]['accomplishments/enterpriseService/desc1'] : ""}}
      </ion-item >
      <ion-item >
        {{data ? data[1]['accomplishments/enterpriseService/desc2'] : ""}}
      </ion-item >
      <ion-item >
        {{data ? data[1]['accomplishments/enterpriseService/desc3'] : ""}}
      </ion-item >
       <ion-item >
        {{data ? data[1]['accomplishments/enterpriseService/desc4'] : ""}}
      </ion-item>
    </ion-list>

    <ion-list no-lines text-wrap *ngIf="showQuaterResult === 'Q5'">
       <ion-item >
        {{data ? data[0]['accomplishments/enterpriseService/desc1'] : ""}}
      </ion-item >
      <ion-item >
        {{data ? data[0]['accomplishments/enterpriseService/desc2'] : ""}}
      </ion-item >
      <ion-item >
        {{data ? data[0]['accomplishments/enterpriseService/desc3'] : ""}}
      </ion-item >
       <ion-item >
        {{data ? data[0]['accomplishments/enterpriseService/desc4'] : ""}}
      </ion-item>
    </ion-list>

    <ion-list no-lines text-wrap *ngIf="showQuaterResult === 'Q6'">
       <ion-item >
        {{data ? data[1]['accomplishments/enterpriseService/desc1'] : ""}}
      </ion-item >
      <ion-item >
        {{data ? data[1]['accomplishments/enterpriseService/desc2'] : ""}}
      </ion-item >
      <ion-item >
        {{data ? data[1]['accomplishments/enterpriseService/desc3'] : ""}}
      </ion-item >
       <ion-item >
        {{data ? data[1]['accomplishments/enterpriseService/desc4'] : ""}}
      </ion-item>
    </ion-list>
     <ion-list no-lines text-wrap *ngIf="showQuaterResult === 'Q7'">
       <ion-item >
        {{data ? data[0]['accomplishments/enterpriseService/desc1'] : ""}}
      </ion-item >
      <ion-item >
        {{data ? data[0]['accomplishments/enterpriseService/desc2'] : ""}}
      </ion-item >
      <ion-item >
        {{data ? data[0]['accomplishments/enterpriseService/desc3'] : ""}}
      </ion-item >
       <ion-item >
        {{data ? data[0]['accomplishments/enterpriseService/desc4'] : ""}}
      </ion-item>
    </ion-list>
     <ion-list no-lines text-wrap *ngIf="showQuaterResult === 'Q8'">
       <ion-item >
        {{data ? data[1]['accomplishments/enterpriseService/desc1'] : ""}}
      </ion-item >
      <ion-item >
        {{data ? data[1]['accomplishments/enterpriseService/desc2'] : ""}}
      </ion-item >
      <ion-item >
        {{data ? data[1]['accomplishments/enterpriseService/desc3'] : ""}}
      </ion-item >
       <ion-item >
        {{data ? data[1]['accomplishments/enterpriseService/desc4'] : ""}}
      </ion-item>
    </ion-list>
  
</ion-row>
 




    


 

</ion-content>
<ion-content padding *ngIf="parameter1 == 'dir2'">
<ion-label class="subHeadingTitle">Lead - {{data ? data[1].firstName : ""}} {{data ? data[1].lastName : ""}}</ion-label>

 <ion-item  text-wrap>
    <!--ion-icon class="icon-size"  name="square-outline" item-left></ion-icon-->
    <h2>Tech Stack -</h2>
     <ion-grid class="table-border">
  <ion-row align-items-start class="header">
    <ion-col col-6>
      Technology
    </ion-col>
    <ion-col col-6>
      Version
    </ion-col>
  </ion-row>

  <ion-row align-items-start>
    <ion-col col-6>
     Java
    </ion-col>
    <ion-col col-6>
     1.8
    </ion-col>
    </ion-row>
     <ion-row align-items-start>
    <ion-col col-6>
     Backbone
    </ion-col>
    <ion-col col-6>
     1.2
    </ion-col>
  </ion-row>
    <ion-row align-items-start>
    <ion-col col-6>
     Oracle
    </ion-col>
    <ion-col col-6>
     12c
    </ion-col>
  </ion-row>
     <ion-row align-items-start>
    <ion-col col-6>
     Spring
    </ion-col>
    <ion-col col-6>
     4.1
    </ion-col>
  </ion-row>
</ion-grid>
  </ion-item>

</ion-content>
<ion-content padding *ngIf="parameter1 == 'dir3'">
<ion-label class="subHeadingTitle">Lead - {{data ? data[2].firstName : ""}} {{data ? data[2].lastName : ""}}</ion-label>

 <ion-item  text-wrap>
    <!--ion-icon class="icon-size"  name="square-outline" item-left></ion-icon-->
    <h2>Tech Stack -</h2>
     <ion-grid class="table-border">
  <ion-row align-items-start class="header">
    <ion-col col-6>
      Technology
    </ion-col>
    <ion-col col-6>
      Version
    </ion-col>
  </ion-row>

  <ion-row align-items-start>
    <ion-col col-6>
     Java
    </ion-col>
    <ion-col col-6>
     1.8
    </ion-col>
    </ion-row>
     <ion-row align-items-start>
    <ion-col col-6>
     Backbone
    </ion-col>
    <ion-col col-6>
     1.2
    </ion-col>
  </ion-row>
    <ion-row align-items-start>
    <ion-col col-6>
     Oracle
    </ion-col>
    <ion-col col-6>
     12c
    </ion-col>
  </ion-row>
     <ion-row align-items-start>
    <ion-col col-6>
     Spring
    </ion-col>
    <ion-col col-6>
     4.1
    </ion-col>
  </ion-row>
</ion-grid>
  </ion-item>

</ion-content>
<ion-content padding *ngIf="parameter1 == 'dir4'">
<ion-label class="subHeadingTitle">Lead - {{data ? data[3].firstName : ""}} {{data ? data[3].lastName : ""}}</ion-label>

 <ion-item  text-wrap>
    <!--ion-icon class="icon-size"  name="square-outline" item-left></ion-icon-->
    <h2>Tech Stack -</h2>
     <ion-grid class="table-border">
  <ion-row align-items-start class="header">
    <ion-col col-6>
      Technology
    </ion-col>
    <ion-col col-6>
      Version
    </ion-col>
  </ion-row>

  <ion-row align-items-start>
    <ion-col col-6>
     Java
    </ion-col>
    <ion-col col-6>
     1.8
    </ion-col>
    </ion-row>
     <ion-row align-items-start>
    <ion-col col-6>
     Backbone
    </ion-col>
    <ion-col col-6>
     1.2
    </ion-col>
  </ion-row>
    <ion-row align-items-start>
    <ion-col col-6>
     Oracle
    </ion-col>
    <ion-col col-6>
     12c
    </ion-col>
  </ion-row>
     <ion-row align-items-start>
    <ion-col col-6>
     Spring
    </ion-col>
    <ion-col col-6>
     4.1
    </ion-col>
  </ion-row>
</ion-grid>
  </ion-item>




   

</ion-content>

<ion-footer>
        <p class="text-color">&copy;Fannie Mae</p>
 </ion-footer>
