page-portfolio-roadmap {

}

.spinner{
	margin-left:50%;
	margin-top:50%;
}

.title{
	background-color:#608178 !important;
	padding-top:10px;
	padding-bottom:10px;
	color: #fff;
}

.swiper-icon-right{
	margin-right:26%;
}

.swiper-icon-left{
	margin-left:27%;
}

.slide-width{
	width:38% !important;
}

.inner{
	width: 1350px;
	height : 100%;
	ion-card{
	display:table-cell;
	width:7%;
	}
}

.scroll-content-width{
	   width: 97%; height:105px; margin-top:-10px;
}

.card-width{
	margin-right:15px ; margin-left:15px;
}


