<ion-header >

  <ion-navbar (click) ="goBack()">
   <ion-buttons left style="margin-left:-45px;">
        <button ion-button icon-only>
          <ion-icon name="arrow-back"></ion-icon>
        </button>
    </ion-buttons>
    <ion-title>Portfolio Activities</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding *ngIf="parameter1 == 'dir1'">



<ion-slides>

 <ion-slide>
 <ion-spinner class="spinner" name="ios" *ngIf="showSpinner"></ion-spinner>
<ion-label class="title-chart">{{data ? data[0]['accomplishments/BAU/title'] : ""}}</ion-label>
  <ion-list no-lines text-wrap>
    <ion-item>
      {{data ? data[0]['accomplishments/BAU/desc1'] : ""}}
    </ion-item>
    <ion-item>
      {{data ? data[0]['accomplishments/BAU/desc2'] : ""}}
    </ion-item>
  </ion-list>
 </ion-slide> 

   <ion-slide>
    <ion-label class="title-chart">{{data ? data[0]['accomplishments/CSPI/title'] : ""}}</ion-label>
    <ion-list no-lines text-wrap>
  <ion-item>
   {{data ? data[0]['accomplishments/CSPI/desc1'] : ""}}
  </ion-item>
  <ion-item>
    {{data ? data[0]['accomplishments/CSPI/desc2'] : ""}}
  </ion-item>
  <ion-item>
    {{data ? data[0]['accomplishments/CSPI/desc3'] : ""}}
  </ion-item>
   <ion-item>
    {{data ? data[0]['accomplishments/CSPI/desc4'] : ""}}
  </ion-item>
  <ion-item>
    {{data ? data[0]['accomplishments/CSPI/desc5'] : ""}}
  </ion-item>
</ion-list>
  </ion-slide>

   <ion-slide>
  <ion-label class="title-chart">{{data ? data[0]['accomplishments/CIE/title'] : ""}}</ion-label>
    <ion-list no-lines text-wrap>
  <ion-item>
   {{data ? data[0]['accomplishments/CIE/desc1'] : ""}}
  </ion-item>
  <ion-item>
    {{data ? data[0]['accomplishments/CIE/desc2'] : ""}}
  </ion-item>
</ion-list>
  </ion-slide>

  <ion-slide>
  
  <ion-label class="title-chart">{{data ? data[0]['accomplishments/enterpriseService/title'] : ""}}</ion-label>
    
    <ion-list no-lines text-wrap>
  <ion-item >
   	{{data ? data[0]['accomplishments/enterpriseService/desc1'] : ""}}
  </ion-item >
  <ion-item >
    {{data ? data[0]['accomplishments/enterpriseService/desc2'] : ""}}
  </ion-item >
  <ion-item >
    {{data ? data[0]['accomplishments/enterpriseService/desc3'] : ""}}
  </ion-item >
   <ion-item >
    {{data ? data[0]['accomplishments/enterpriseService/desc4'] : ""}}
  </ion-item>
</ion-list>
  </ion-slide>
 

 

</ion-slides>

</ion-content>

<ion-footer>
        <p class="text-color">@Fannie Mae</p>
 </ion-footer>
