.toolbar-title{
	color:#fff;
}


.toolbar-background{
	background: #216c2b !important;
	background-color:#216c2b !important;
}

.title-chart{
	background-color:#FF9900 !important;
	padding-top:10px;
	padding-bottom:10px;
	color: black;
	margin-left:8px;
	padding-left:8px;
}


ion-item{
	background-color:#e6e6e6 !important;
}


ion-item-sliding{
	background-color:#e6e6e6 !important;
}


ion-footer{
	background-color:#216c2b !important;
}

.text-color{
	color:#fff;
}

.header{
	font-weight: bold;
	font-size:14px;
}

ion-col{
	font-size:14px;
}

.graph-display{
	max-height:1000px;
	overflow-y:scroll;
	margin-bottom: 10px;
	width:332px;


}

.table-border{
	border: 1px solid;
}

.custom-icon-sunny{
  color : yellow;
}

.custom-icon-cloudy{
  color : grey;
}

.custom-icon-mic{
	color:white;
	margin-left:16%;
}

.spinner{
	margin-left:50%;
	margin-top:50%;
}