.toolbar-title{
	color:#fff;
}


.toolbar-background{
	background: #608178 !important;
	background-color:#608178 !important;
}


ion-item{
	background-color:#b9c8e7 !important;
}


ion-item-sliding{
	background-color:#b9c8e7 !important;
}

ion-footer{
	background-color:#608178 !important;
}

.text-color{
	color:#fff;
}

.header{
	font-weight: bold;
	font-size:14px;
}

ion-col{
	font-size:14px;
}

.graph-display{
	max-height:1000px;
	overflow-y:scroll;
	margin-bottom: 10px;
	width:332px;


}

.table-border{
	border: 1px solid;
}

.custom-icon-sunny{
  color : yellow;
}

.custom-icon-cloudy{
  color : grey;
}

.spinner{
	margin-left:50%;
	margin-top:50%;
}