.text-color{
	color:#fff;
	margin-left:32px;
}


.bhs-classification{
	margin-left:38px;
}


.heading-title-ios{
    width: 114%;
}

.icon-position{
	margin-left:7px;
}

.summary-card-display{
	overflow-y:scroll;


}

.spinner{
	margin-left:50%;
	margin-top:5%;
	height:100%;
}
